
# In your GitHub repo, add:

# clusters/dev/splunk/kustomization.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - service.yaml
  - statefulset.yaml
